<!DOCTYPE html>
<html lang="es">

    {{ partial "head.html" . }}

<body class="home">
    {{ block "info" . }}
        {{ partial "info.html" . }}
    {{ end }}

    {{ block "menu" . }}
        {{ partial "menu.html" . }}
    {{ end }}

    {{ block "header" . }}
        {{ partial "header.html" . }}
    {{ end }}

    {{ block "main" . }}
       <!-- Main content of the page -->
    {{ end }}

    {{ block "footer" . }}
        {{ partial "footer.html" . }}
    {{ end }}

    {{ block "underfooter" . }}
        {{ partial "underfooter.html" . }}
    {{ end }}

    {{ partial "scripts.html" . }}
</body>

</html>