{{ define "main" }}
<main id="main" class="terapia-page container">

	<div class="row topspace">
		<div class="col-sm-8 col-sm-offset-2">
			<article class="post">
				<header class="entry-header">
					<h1 class="entry-title">
						<a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
					</h1>
				</header>
				<div class="pull-right thumb">
					<img src="{{ .Param `thumbnail.image` }}" alt="{{ .Param `thumbnail.alt` }}" class="img-rounded">
				</div>
				<div class="entry-content">
					{{ .Content }}
				</div>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div id="share">
				{{ if .Params.Share }} {{ partial "sharethis.html" . }} {{ end }}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div id="comments">
				{{ if .Params.Comments }} {{ partial "disqus.html" . }} {{ end }}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</main>
{{ end }}