<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contacta</h3>
				<div class="widget-body">
					<p>{{ .Site.Params.phone }}<br>
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
						<br>
						{{ .Site.Params.address }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Sígueme</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
                        {{ range .Site.Params.social }}
                            {{ if .footer }}
                                <a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
                            {{ end }}
                        {{ end }}
					</p>
				</div>
			</div>
			{{ end }}

		</div> <!-- /row of widgets -->
	</div>
</footer>