<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contacta</h3>
				<div class="widget-body">
					<p>
						<a href="tel:{{ replace .Site.Params.phone " " "" }}">{{ .Site.Params.phone }}</a> - <a href="tel:{{ replace .Site.Params.cellphone " " "" }}">{{ .Site.Params.cellphone }}</a>
						<br>
						<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
						<br>
						{{ .Site.Params.address }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Sígueme</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
                        {{ range .Site.Params.social }}
                            {{ if .footer }}
                                <a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
                            {{ end }}
                        {{ end }}
					</p>
				</div>
			</div>
            {{ end }}
            
            {{ if .Site.Params.footerEnableDoctoralia }}
            <div class="col-md-6 widget">
				<!-- <h3 class="widget-title">Doctoralia</h3> -->
				<div class="widget-body">
                    <a id="zl-url" class="zl-url" href="https://www.doctoralia.es/alaitz-martinez/psicologo/madrid" rel="nofollow" data-zlw-doctor="alaitz-martinez" data-zlw-type="big" data-zlw-opinion="false" data-zlw-hide-branding="true">Alaitz Martínez - Doctoralia.es</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
                </div>
            </div>
            {{ end }}
		</div> <!-- /row of widgets -->
	</div>
</footer>