<div class="info-sticky">
    <div class="container">
        <div class="row">

            <div class="col-md-2 col-xs-4 p-0 pl-10">
                <div class="widget-body">
                    <p class="hidden-xs">
                        <a href="tel:{{ replace .Site.Params.phone " " "" }}">{{ .Site.Params.phone }}</a> - <a href="tel:{{ replace .Site.Params.phone " " "" }}">{{ .Site.Params.cellphone }}</a>
                    </p>
                    <p class="visible-xs-block"><a href="tel:{{ replace .Site.Params.phone " " "" }}">{{ .Site.Params.phone }}</a></p>
                </div>
            </div>

            <div class="col-md-4 col-xs-8 p-0 pr-10">
                <div class="widget-body">
                    <p class="hidden-xs"><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>
                    <p class="visible-xs-block text-right"><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>
                </div>
            </div>

            <div class="col-md-offset-4 col-md-2 hidden-xs">
                <div class="widget-body">
                    <p class="info-follow-me text-right">
                        {{ range .Site.Params.social }} {{ if .info }}
                        <a href="{{ .url }}" target="_blank">
                            <i class="fa {{ .icon }} fa-2"></i>
                        </a>
                        {{ end }} {{ end }}
                    </p>
                </div>
            </div>

        </div>
        <!-- /row of widgets -->
    </div>
</div>