<div class="row section topspace">
    <div class="col-md-12">
        <h1 class="text-center">Consulta de Psicología Online y presencial en Madrid Centro</h1>

        <h3 class="text-center">
            Mi nombre es Alaitz Martínez, soy Psicóloga y Psicoterapeuta colegiada en el Colegio Oficial de Psicólogos de Madrid.
        </h3> 
        <br>
        <p class="lead text-center text-muted">
            Desde mi consulta, en uno de los centros más prestigiosos de la ciudad de Madrid, llevo a cabo mi labor como Psicóloga.
        </p>
        <p class="lead text-center text-muted">
            En este espacio te voy a presentar mi forma de trabajar y todo lo que te puedo ofrecer para ayudarte a mejorar tu calidad de vida, que es, al fin y al cabo, en lo que consiste mi trabajo.
        </p>
        <p class="lead text-center text-muted">
            ¡Bienvenid@s!
        </p>
    </div>
</div> <!-- / section -->
    