<div class="row section featured topspace">

    <h3 class="section-title"><span>Terapias</span></h3>

    <div class="terapias">
        {{ range where .Data.Pages "Section" "terapias" }}
            {{ if .Params.showHome }}
            <div class="col-sm-6 col-md-3 text-center">
                <img src="{{ .Param "thumbnail.image" }}" alt="{{ .Param "thumbnail.alt" }}" class="img-rounded" >
                <h4 class="text-center">{{ .Title }}</h4>
                <p class="text-center">{{ .Param "pricing.single" }}</p>
                <p class="text-center">{{ .Param "pricing.pass" }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Leer más</a></p>
            </div>
            {{ end }}
        {{ end }}
    </div>

</div> 