{{ define "header"}}
<!-- empty -->
{{ end }}
{{ define "main" }}
<main id="main" class="container contacto">

    <div class="row topspace">

        <div class="col-sm-12">
            <header class="entry-header">
                <h1 class="entry-title">Contacta</h1>
            </header>
        </div>

    </div>

    <div class="row hidden-sm hidden-xs">

        <div class="col-sm-8">

            <div class="entry-content">
                <h2>Teléfono</h2>
                {{ partial "contact-phones.html" . }}
            </div>
            <div class="entry-content">
                <h2>Dirección</h2>
                {{ partial "contact-address.html" . }}
            </div>
                
        </div>

        <div class="col-sm-4">

            <div class="entry-content">
                <h2>Formulario</h2>
                {{ partial "contact-form.html" . }}
            </div>
            
        </div>

    </div>

    <div class="row hidden-md hidden-lg">

        <div class="col-sm-4">

            <div class="entry-content">
                <h2>Formulario</h2>
                {{ partial "contact-form.html" . }}
            </div>
            
        </div>

        <div class="col-sm-8">

            <div class="entry-content">
                <h2>Teléfono</h2>
                {{ partial "contact-phones.html" . }}
            </div>
            <div class="entry-content">
                <h2>Dirección</h2>
                {{ partial "contact-address.html" . }}
            </div>
                
        </div>

    </div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
            <div id="share">
                {{ if .Params.Share }} {{ partial "sharethis.html" . }} {{ end }}
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
            <div id="comments">
                {{ if .Params.Comments }} {{ partial "disqus.html" . }} {{ end }}
            </div>
        </div>
        
    </div>

    <div class="clearfix"></div>

</main>
{{ end }}